.backBtn {
  position: absolute;
  left: 10vw;
  width: 5%;
  margin-top: 2vh;
  padding: 0;
  outline: none;
  background: transparent;
  border: 0;
}

.backBtn:hover {
  cursor: pointer;
  filter: invert(0.3);
}

.backImg {
  width: 30%;
  padding: 0;
}

button:disabled {
  background-color: grey;
  cursor: default;
}
